# **Lab 4:** Advanced `SPARQL`

**Learning Outcomes:**

*   Aggregate results using `GROUP BY`.
*   Perform calculations like `AVG`, `COUNT`, `SUM` on the aggregated data.
*   Sort results using `ORDER BY` to rank your findings.
*   Learning to use nested queries.
*   Create subgraphs with `CONSTRUCT`.
*   Write a federated query using the `SERVICE` keyword to enrich your local data with an external `SPARQL` endpoint.


---


## **Setup:** Install `rdflib`, Import Functions and Populated Graph

In Lab 3, we populated a schema with top 1000 IMDb movies & tv shows. We can import our instances to conduct our advanced queries.

In [ ]:
!pip3 install rdflib -U -q

from rdflib import Graph, Literal, Namespace

In [ ]:
g = Graph()
g.parse("movie_graph.ttl", format="ttl")

Let's run a general query to see if our graph loaded properly before you move onto the advanced `SPARQL` functionalities.

In [ ]:
qres = """
SELECT DISTINCT ?s ?p ?o
WHERE {

  ?s ?p ?o .

} LIMIT 10
"""

for row in g.query(qres):
    print(f"{row.s} {row.p} {row.o}")



---


## **Part 1:** Aggregation with `GROUP BY`
So far, we've only retrieved existing data. But the real power of a query language comes from its ability to calculate new information. To accomplish this, we need to learn how to group our data in a meaningful way. Aggregation is the process of taking many values and summarizing them into groups with the `GROUP BY` functionality. While `GROUP BY` is most often paired with calculation functions like `AVG` or `COUNT`, it can also be used in a powerful way to collect and display all the items associated with a particular group. This is perfect for "discovery" tasks where you want to see the full scope of something in your dataset.

Let's answer the following question by writing a query with `GROUP BY`. We will also use `GROUP_CONCAT` and `AS` functions to format the grouped values to be more human-readable.

In [ ]:
q_1 = """
PREFIX movies: <http://example.org/movies/>

SELECT ?directorName ( GROUP_CONCAT(?title; separator=" | ") AS ?filmography ) # formatting
WHERE {
  ?director movies:hasName ?directorName .

  ?movie movies:hasDirector ?director ;
         movies:hasTitle ?title .
}
GROUP BY ?directorName # use GROUP BY outside the WHERE clause
LIMIT 5
"""

for row in g.query(q_1):
  print(f"Director => {row.directorName}")
  print(f"Filmography => {row.filmography}")
  print("-"*20)



---


## **Part 2:** Computing New Information with `AVG`, `COUNT`, and `SUM`

Now we can make calculations on our groups to reveal new information about our data. Let's start with finding average IMDb rating for each director. Here, we will use `GROUP BY` to group all movies by their director. Then, for each group, we will use the `AVG` function to calculate the average rating. We can also give this new calculated value a name using `AS`.

In [ ]:
q_2 = """
PREFIX movies: <http://example.org/movies/>

SELECT ?directorName (AVG(?rating) AS ?avgRating) # use AVG in SELECT clause
WHERE {
    ?director movies:hasName ?directorName .

    ?movie movies:hasDirector ?director ;
           movies:hasImdbRating ?rating .
}
GROUP BY ?directorName
LIMIT 10
"""

print("--- Average Rating per Director ---")
for row in g.query(q_2):
  print(f"{row.directorName}: {round(float(row.avgRating), 2)}")

See that we combine our `SPARQL` output with `Python` functions such as `float` and `round` to get more readable printouts.

Let's improve this query by also returning the total number of movies per director in the dataset. We will use the `COUNT` functionality.

In [ ]:
q_3 = """
PREFIX movies: <http://example.org/movies/>

SELECT ?directorName (AVG(?rating) AS ?avgRating) (COUNT(?movie) AS ?movieCount)
WHERE {
    ?director movies:hasName ?directorName .

    ?movie movies:hasDirector ?director ;
           movies:hasImdbRating ?rating .
}
GROUP BY ?directorName
LIMIT 10
"""

print("--- Average Rating and Movie Count per Director ---")
for row in g.query(q_3):
  print(f"{row.directorName}: {round(float(row.avgRating), 2)} Rating, {row.movieCount} Movies")



---


## **Exercise 1:** Further Improving the Query with `SUM`

Calculate the total revenue each director made by using `SUM`.

1.   Modify the `WHERE` clause to reach the gross revenue.
2.   Add the `SUM` (with `AS`) to the `SELECT` clause.
3.   Print a readable director summary.

In [ ]:
q_4 = """
PREFIX movies: <http://example.org/movies/>

SELECT ?directorName (AVG(?rating) AS ?avgRating) (COUNT(?movie) AS ?movieCount)
WHERE {
    ?director movies:hasName ?directorName .

    ?movie movies:hasDirector ?director ;
           movies:hasImdbRating ?rating .
}
GROUP BY ?directorName
LIMIT 10
"""

print("--- Director Summary ---")
for row in g.query(q_4):
  print(...)



---


## **Part 3:** Sorting Results with `ORDER BY`, `DESC`, and `ASC`

Calculating summaries is useful, but it's even more powerful when we can rank the results. The `ORDER BY` clause lets us sort our results. We can sort in ascending order (`ASC`) or descending order (`DESC`). This allows us to create ranked lists and find the "top" or "bottom" items based on some criteria.

Let's start with finding bottom 5 directors by average rating:

In [ ]:
q_5 = """
PREFIX movies: <http://example.org/movies/>

SELECT ?directorName (AVG(?rating) AS ?avgRating)
WHERE {
    ?director movies:hasName ?directorName .

    ?movie movies:hasDirector ?director ;
           movies:hasImdbRating ?rating .
}
GROUP BY ?directorName
ORDER BY ASC(?avgRating) # correct usage of ORDER BY
LIMIT 5
"""

print("--- Bottom 5 Directors by Average Rating ---")
for row in g.query(q_5):
    print(f"{row.directorName}: {round(float(row.avgRating), 2)}")

Similarly, we can see which actors appear the most in our dataset:

In [ ]:
q_6 = """
PREFIX movies: <http://example.org/movies/>

SELECT ?actorName (COUNT(?movie) AS ?movieCount)
WHERE {

    ?actor movies:hasName ?actorName .
    ?movie movies:hasActor ?actor .

}
GROUP BY ?actorName
ORDER BY DESC(?movieCount) # same but descending
LIMIT 10
"""

print("--- Top 10 Most Prolific Actors ---")
for row in g.query(q_6):
    print(f"{row.actorName}: {row.movieCount} movies")



---


## **Part 4:** Subqueries

Sometimes, a query is too complex to solve in a single step. Nested queries, also known as subqueries, allow you to perform a query within your main query. The inner query runs first, and its results can be used, filtered, and joined by the outer query. This is an extremely powerful technique for breaking down complex problems.

A subquery is just a standard `SELECT` query enclosed in curly braces { } within the `WHERE` clause of another query.



```sparql
SELECT ?variable1 ?variable2
WHERE { # outer query
  ?item :someProperty ?variable1 .

  # Inner (Nested) Query
  { SELECT ?variable2 (AGG_FUNCTION(?x) AS ?calculatedValue)
    WHERE {
      # Inner query patterns
    } GROUP BY ?variable2
  }

  # The outer query can now use the results from the inner query
  FILTER(?variable1 > ?calculatedValue)
}
```

Let's see an example query for our graph:

In [ ]:
q_7 = """
PREFIX movies: <http://example.org/movies/>

SELECT ?title ?rating
WHERE {
  ?movie movies:hasTitle ?title ;
         movies:hasImdbRating ?rating .

  # Subquery here
  { SELECT (AVG(?r) AS ?overallAverageRating)
    WHERE {
      ?m movies:hasImdbRating ?r .
    }
  }

  FILTER( ?rating > ?overallAverageRating )
} LIMIT 10
"""

print("--- Above Average Movies ---")
for row in g.query(q_7):
    print(f"Movie: {row.title}, Rating: {row.rating}")



---


## **Exercise 2:** Finding Similar Entities with Nested Queries
This is it! All we have learned so far cultivates into this complex query.We will find actors who have similar accomplishments to "Tom Hanks". Our similarity based on career statistics: actors whose average movie rating is within 0.2 points of Tom Hanks's average, and who have a movie count within 1 movie of his total.

Follow the steps below to complete the query and run it:

1.   Calculate average rating and movie counts for all actors in the first subquery.
2.   Get the same stats for Tom Hanks in the second subquery.
3.   Apply conditional filtering based on our similarity conditions.

In [ ]:
q_8 = """
PREFIX movies: <http://example.org/movies/>

SELECT ?actorName ?avgRating ?movieCount
WHERE {

  # Subquery 1
  {
    # Calculate average rating and movie count for all actors here
  }

  # Subquery 2
  {
    # Get stats for Tom Hanks here
  }

  FILTER (
      # Apply similarity conditions here
  )
}
ORDER BY DESC(?avgRating)
"""

print("--- Similar Careers to Tom Hanks ---")
for row in g.query(q_8):
    print(f"Actor: {row.actorName} | Avg Rating: {round(float(row.avgRating), 2)} | Movie Count: {row.movieCount}")

This exercise shows how powerful `SPARQL` queries can be. Also, notice that the query took a while to compute since the complexity is higher than any example we have seen before.


---


## [OPTIONAL] **Part 5:** Extracting Subgraphs with `CONSTRUCT`

So far, all our queries have used `SELECT`, which returns a table of results. `SPARQL` has other query forms, and one of the most powerful is `CONSTRUCT`. Instead of a table, a `CONSTRUCT` query returns a new RDF graph. You can simplify your data by excluding certian elements, or create a subgraph including a specific subset of your data.

Let's create a subgraph, containing only Sci-Fi genre movies, but only including their director and title information:

In [ ]:
q_9 = """
PREFIX movies: <http://example.org/movies/>

CONSTRUCT { # template for our new graph
    ?movieURI movies:hasTitle ?title ;
              movies:hasGenre ?genreURI ;
              movies:hasDirector ?directorURI .

    ?directorURI movies:hasName ?directorName .
}
WHERE { # this is where we filter for Sci-Fi movies

    ?movieURI movies:hasGenre "Sci-Fi" ;
              movies:hasTitle ?title ;
              movies:hasDirector ?directorURI .

    ?directorURI movies:hasName ?directorName .
}
"""

# The result of a CONSTRUCT query is a new rdflib Graph object
scifi_subgraph_result = g.query(q_9)
scifi_graph = scifi_subgraph_result.graph

# We can check its type and size
print(f"The result is a: {type(scifi_graph)}")
print(f"The new subgraph has {len(scifi_graph)} triples.")

# Let's print the new graph in Turtle format to see the result
print("\n--- Sci-Fi Movies Subgraph ---")
print(scifi_graph.serialize(format="turtle"))



---


## [OPTIONAL] **Part 6:** Federated Queries with `SERVICE` or `SPARQLWrapper`

Our graph is powerful, but instances are isolated within the dataset. The true power of the Semantic Web comes from connecting our data to higher level concepts in external schemas. A federated query is a query that retrieves data from more than one knowledge graph at the same time.

In `SPARQL`, we do this with the `SERVICE` keyword. You provide the URL of an external `SPARQL` endpoint, and the query inside the `SERVICE` block will be executed on that remote server.

By using this, we will be able to enrich our local data. We can find an entity in a graoh and use a massive public knowledge base like Wikidata to pull in additional facts that we don't have.

Here is an example, querying Wikidata to retrieve facts about the director "Christopher Nolan":


```sparql
PREFIX movies: <http://example.org/movies/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX wdt: <http://www.wikidata.org/prop/direct/> # Wikidata namespace

SELECT ?directorName ?dateOfBirth
WHERE {

    ?director movies:hasName ?directorName .
    FILTER(CONTAINS(?directorName, "Christopher Nolan"))

    # Query the Wikidata endpoint
    SERVICE <https://query.wikidata.org/sparql> {
        ?person rdfs:label ?directorName .

        # Get their date of birth (property P569 in Wikidata).
        ?person wdt:P569 ?dateOfBirth .

        FILTER( LANG(?directorName) = "en" )
    }
}
LIMIT 1
```
This query will not return anything since `rdflib` is not able to request information from external sites. There are other tools such as Virtuoso or Apache Jena Fuseki that would support the `SERVICE` functionality. Instead we can retrieve information from our local graph, then use the `SPARQLWrapper` library to write external queries. Let's find the birtdate of first 25 directors:

In [ ]:
# Install the library and import useful functions
!pip3 install SPARQLWrapper -U -q
from SPARQLWrapper import SPARQLWrapper, JSON

# Setup connection to the Wikidata
sparql = SPARQLWrapper("https://query.wikidata.org/sparql")
sparql.setReturnFormat(JSON)

# Get the first 25 director names
q_10 = """
PREFIX movies: <http://example.org/movies/>

SELECT DISTINCT ?directorName
WHERE {
  ?d movies:hasName ?directorName .
} LIMIT 25
"""
local_results = g.query(q_10)


# Iterate through names and get birth dates for each one
for row in local_results:
  director_name = str(row.directorName)

  # Note: We constrain the search to humans (wd:Q5) to get more accurate results.
  remote_query = f"""
  PREFIX wdt: <http://www.wikidata.org/prop/direct/>
  PREFIX wd: <http://www.wikidata.org/entity/>
  PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

  SELECT ?dateOfBirth
  WHERE {{
    ?person wdt:P31 wd:Q5 ; # assure that the entity is a human
            rdfs:label "{director_name}"@en ;
            wdt:P569 ?dateOfBirth .
  }} LIMIT 1
  """
  sparql.setQuery(remote_query)

  try:
    # execute
    results = sparql.query().convert()
    bindings = results["results"]["bindings"]

    if bindings:
      dob = bindings[0]["dateOfBirth"]["value"]
      print(f"Director: {director_name}, DOB: {dob}")

    else: # in case director is not on Wikidata
      print(f"Director: {director_name}, DOB: {None}")

  except Exception as e: # catch any errors
    print(f"An error occurred for {director_name}: {e}")

You can also use query Wikidata online by visiting this URL: https://query.wikidata.org/

<ins>**Note:**</ins> Observe that we used the `DISTINCT` functionality in our local query to return unique insrances, which may occur on less structured graphs. Our graph contains a unique URI for each director, so duplicates are avoided altogether.